/* 
    Purpose: CSS style file for addPatient.php page
    Author : UAH CS499 TEAM 12 (Leon Xue, Cristina Ramos, Nick Klauke, Michael Foust)
*/

.pageTitle {
	margin: 1em 0 0.5em 1;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;  
	font-size: 30px;
	line-height: 30px;
        width: 50%;
	padding: 15px 15px 15px 15%;
	color: #355681;
	box-shadow: 
		inset 0 0 0 1px rgba(53,86,129, 0.4), 
		inset 0 0 5px rgba(53,86,129, 0.5),
		inset -285px 0 35px white;
	border-radius: 10 2px 10 2px;
	background: #fff url(../images/img3.png) no-repeat center left;
}

.sectionDesc {
	margin: 1em 0 0.5em 0;
	font-weight: 300;
	font-family: 'Titillium Web', sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 18px;
	line-height: 40px;
	color: #355681;
        margin-left: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}
.inputField {
    margin-left: 20px;
}

.lastPhoneField {
    margin-right: 10px;
}

.radioType {
    margin-left: 20px;
}

.sectionDesc {
    margin-bottom: 20px;
    margin-top: 40px;
}
.submitbutton{
                        background-color: #4CAF50;
                        color: white;
                        padding: 14px 20px;
                        margin: 1em 0 0.5em 1;
                        width: 30%;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
}

.fieldName{
     font-weight: 700;
	font-size: 1em;
	color: #888;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 2em;
        margin-left: 10px;
}
.inputField{
        font-weight: 700;
	font-size: 1em;
	color: #000;
	letter-spacing: 1px;
	line-height: 1em;
        margin-left: 10px;
}

.phoneField
{
        font-weight: 700;
	font-size: 1em;
	color: 000;
	letter-spacing: 1px;
	line-height: 1em;
        margin-left: 10px;
}

.lastPhoneField
{
        font-weight: 700;
	font-size: 1em;
	color: #000;
	letter-spacing: 1px;
	line-height: 1em;
        margin-left: 10px;
}

.radioType {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.footer{
		background: skyblue;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 2em;
		line-height: 2em;
                position: fixed;
                background-attachment: scroll;
		bottom: 0px;
		width: 100%;
		color: #fff;
                font-size: 1.0em;
		text-decoration: none;
		}