/* 
    Purpose: CSS style file for mainpage.php page
    Author : UAH CS499 TEAM 12 (Leon Xue, Cristina Ramos, Nick Klauke, Michael Foust)
*/

body {font-family: Arial;}

form {
    margin: auto 0; 
}

/* Full-width inputs */
input[type=p_text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #d6d6ea;
}

.parallax {
    /* The image used */
    background-image: url("/images/photo_bg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #bbbbbb;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #cfebf7;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

footer{
		background: skyblue;
		color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 2em;
		line-height: 2em;
                position: fixed;
                background-attachment: scroll;
		bottom: 0px;
		width: 100%;
		color: #fff;
                font-size: 1.0em;
		text-decoration: none;
		}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 500px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
